# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.eml
*.iml

# Mac OSX
.DS_Store

# Build Directories
core/target/
spark/target/
target/

# vim tmps
.*sw*

# results
results

# sbt
project/project
project/target
.history

# Scala
*.class
*.log

sbt/sbt-launch*.jar
.idea/
.idea_modules/
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
.worksheet
